h1{
    background-color:#02C3BD;
    border-radius: 10px;
    padding: 10px;
}

.btn{
    margin: 0 20px;
    background-color: #037171;
}
body{
    background-color: #FBFBFF;
}
btn:hover{
    background-color:#02C3BD;
}
table.highlight>tbody>tr:hover{
    background-color:#F3F0FA;
}
.valign-wrapper{
padding: 30px;
}
a{
    margin: auto;
}