h1{
    background-color:#03a9f4;
    border-radius: 10px;
}

.btn{
    margin: 0 20px;
    background-color: #558b2f;
}
body{
    background-color:#e0e0e0;
}
.input-field input[type=text]:focus + label {
    color: blue;
  }