h1{
    
    background-color:#02C3BD;
    border-radius: 10px;
    padding: 10px;
}

.btn{
    margin: 0 20px;
    background-color: #037171;
}
body{
    background-color: #FBFBFF;
}
btn:hover{
    background-color:#02C3BD;
}
table.highlight>tbody>tr:hover{
    background-color:#F3F0FA;
}
.valign-wrapper{
padding: 30px;
}
a{
    margin: auto;
}
@media only screen and (max-width: 768px) {
    .modal-footer .btn-flat{
    
        font-size: 12px;
    }
    .modal h2{
       font-size: 30px;
    }
    .table-container{
        max-width: 700px;
     overflow: scroll;
    }
    .table-header{
        position: sticky;
        font-size: 3rem;
        padding: 0;
        margin: 1rem;
    }
}